<html>
<head>
	<title>Login Page</title>
	
</head>
<body>
<div class="container" style="padding-top: 100px;">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign In as a Admin</h3>				
			</div>
			<div class="card-body">
				<form #loginCredForm="ngForm" (ngSubmit)="setLoginCred()">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input id ="employee_id" type="text" class="form-control" required [(ngModel)]="admin.admin_id" name ="employee_id" placeholder="username*">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input id="userCred_password" type="password" class="form-control" required [(ngModel)]="admin.password" name ="userCred_password" placeholder="password*">
					</div>
					
					<div class="form-group">
                        <div *ngIf="checkEmp; else showtemplate"> 
                        <input type="submit" value="Login" [disabled]="!loginCredForm.form.valid"  class="btn float-right login_btn btn-primary">
                      </div>
                      <ng-template #showtemplate>
                        <!-- <p style="color: red;" >*Incorrect username or password</p> -->
                        <input type="submit" value="Login" class="btn float-right login_btn">
                                 </ng-template>
                </div>
				</form>
				<p style="color: aliceblue;">{{adminmessage}}</p>
			</div>
			
		</div>
	</div>
</div><br><br><br><br>

</body>
</html>
