<div class="container row">
    2
        <div class="col-md-12">
    3
            <h1>Upload Image</h1>
    4
        </div>
    5
    </div>
    6
    <div class="container row">
    7
        <div class="col-md-6">
    8
            <input type="file" (change)="onFileChanged($event)">
    9
        </div>
    10
        <div class="col-md-6">
    11
            <input type="button" (click)="onUpload()" value="upload">
    12
        </div>
    13
    </div>
    14
    <hr />
    15
    <div class="container row">
    16
        <div class="col-md-12">
    17
            <div *ngIf=message>{{message}}</div>
    18
        </div>
    19
    </div>
    20
    21
    <div class="container row">
    22
        <div class="col-md-6">
    23
            <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName"
    24
                name="name" />
    25
        </div>
    26
        <div class="col-md-6">
    27
            <input type="button" (click)="getImage()" value="Get Image">
    28
        </div>
    29
    </div>
    30
    31
    <div class="container row">
    32
        <div class="col-md-12">
    33
            <div *ngIf=retrievedImage>
    34
                <img [src]="retrievedImage">
    35
            </div>
    36
        </div>
    37
    </div>